{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="POST" action="">
    {% csrf_token %}
    <!-- {{form}} -->
    <div class="col-md-6 mb-3">
        <label for="name">Full Name</label>
        {{form.name}}
    </div>
    <div class="col-md-6 mb-3">
        <label for="mobile_number">Mobile Number</label>
        {{form.mobile_number}}
    </div>
    <div class="col-md-6 mb-3">
        <label for="email">Email</label>
        {{form.email}}
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="diposition">Select Diposition</label>
        {{form.diposition}}
    </div>
    <div class="col-md-6 mb-3">
        <label for="remark">Remark</label>
        {{form.remark}}
    </div>
    <div class="col-md-6 mb-3">
        <label for="status">Status</label>
        {{form.status}}
    </div>
    <div class="col-md-6 mb-3">
        <label for="status">Agent</label>
        {{form.agent}}
    </div>
    <div class="form-group col-md-6  mb-3"> <!-- Date input -->
        <label class="control-label" for="follow_up_date">Follow Up Date</label>
        {{form.follow_up_date}}
      </div>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    <input class="btn btn-primary" type="submit">
</form>
{% endblock %}