{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Follow Up Leads</h6>
          <h6 class="mb-0"><form method="POST" action="">Call: <input type="number"><button onclick="call_now()">Call Now</button></form></h6>
          
          <!-- <a href="">Show All</a> -->
      </div>
      <div class="table-responsive">
          <table id="example" class="table text-start align-middle table-bordered table-hover mb-0">
              <thead>
                  <tr class="text-dark">
                      <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                      <th scope="col">Follow Up Date</th>
                      <th scope="col">Full Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">Disposition</th>
                      <th scope="col">Remark</th>
                      <th scope="col">Status</th>
                      <th scope="col">Agent</th>
                  </tr>
              </thead>
              <tbody>
                  {% for lead in leadData %}
                  <tr>
                      <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                      <td>{{lead.follow_up_date}}</td>
                      <td>{{lead.name}}</td>
                      <td>{{lead.email}}</td>
                      <td>{{lead.mobile_number}}</td>
                      <td>{{lead.diposition}}</td>
                      <td>{{lead.remark}}</td>
                      <td>{{lead.status}}</td>
                      <td>{{lead.agent}}</td>
                      <!-- <td><a class="btn btn-sm btn-primary" href="">Detail</a></td> -->
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
<!-- Recent Sales End -->

{% endblock %}