{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ======= About Section ======= -->
    {% comment %} <br/>
    <br/>
    <br/>
    <br/>
    <marquee class="my-3" onmouseover="stop()"  onmouseout="start()">
    {% for news in newsData %}    
      <a href="newsdetail/{{news.id}}">  {{ news.news_title }}
    {% endfor %}
    </marquee> {% endcomment %}

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="text-center fs-2 my-2 font-weight-bold ">{{newsDetail.news_title | safe }}  </div>

        <div class= "text-center mx-5">{{newsDetail.news_desc | safe }} </div>
        <br/>
        <br/>
        <br/><br/>
        <br/>
        <br/>
{% endblock %}                      
